.header {
    background-color: rgb(170, 170, 165);

    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 3px solid;
}

.contain{
    padding: 30px;
}
.logo {
    background-image: url('./header_logo.png');
    height: 75px;
    padding-left: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 1/2;
}

.slogan {
    grid-column: 2/3;
    justify-self: right;
    padding-right: 30px;
    align-self: center;
}