.footer {
    bottom: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: beige;
}
.social {
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
}
.facebook {
    background-image: url("./face.png");
    padding-left: 150px;
    padding-top: 30px; 
    min-height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 60px;
    position: relative;

    
}
.instagram {
    background-image: url("./insta.png");
    padding-left: 150px;
    padding-top: 30px; 
    min-height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 60px;
    position: relative;
}
.copy {
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
}
    
.run {
    grid-column: 3/4;
    justify-self: center;
    align-self: center;
    background-image: url("./runner.png");
    padding-left: 300px;
    padding-top: 30px; 
    min-height: 250px;
    background-repeat: no-repeat;
    margin: 60px;
    position: relative;
}